player-connection-mode=Listen
player-connection-guid=4242965247
player-connection-debug=0
player-connection-project-name=Combat Evolved
player-connection-ip=192.168.218.1
player-connection-ip=169.254.162.81
player-connection-ip=192.168.148.1
player-connection-ip=192.168.112.1
player-connection-ip=169.254.100.12
player-connection-ip=169.254.1.20
player-connection-ip=169.254.34.79
player-connection-ip=169.254.30.150
player-connection-ip=169.254.9.224
player-connection-ip=169.254.19.95
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
